<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body class="root">
    <h1 class="title">Регистрация</h1>
    
    <div th:if="${error}" style="color:red" th:text="${error}"></div>
    
    <form class="form" th:action="@{/registration}" th:object="${user}" method="post">
        <div>
            <label class="label">Логин:</label>
            <input class="input" type="text" th:field="*{login}" required>
        </div>
        <div>
            <label class="label">Пароль:</label>
            <input class="input" type="password" th:field="*{password}" required>
        </div>
        <button class="button" type="submit">Зарегистрироваться</button>
    </form>
    
    <p class="text">Уже есть аккаунт? <a class="link" href="/login">Войти</a></p>
</body>
</html>