<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org">

<head>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
    <header th:fragment="header">
        <div class="header">
            <nav>
                <a href="" class="logo">LinkZone</a>
                <div class="nav-links">
                    <ul>
                        <li><a href="/map">Домой</a></li>
                        <li><a href="">Карта</a></li>
                    </ul>
                </div>
            </nav>

            <div class="left-sidebar"></div>


        </div>
    </header>
</body>